.DS_Store
node_modules

*.xml_*
settings*.json
deploy/**/meteor-client.config.json
yarn-error.log
**/.idea/workspace.xml
**/.idea/libraries/*
local-storage

/public/ant/**
.gradle
/.run
/build
/.idea/dictionaries/**
/imports/locales/_build

auto-collected-i18n-strings.jsx
